<a href="https://colab.research.google.com/github/katiasveloso/Proz_talento_cloud/blob/main/aulasicrona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for i in range(0,6,2):
 regar_tomate =str(i)
 print("Regar a planta" + regar_tomate)

Rega a planta0
Rega a planta2
Rega a planta4

In [10]:
i=0
while(i < 6):
  regar_tomate = str(i)
  print("Regra o vetor planta" + regar_tomate)
  i = i+2

Regra o vetor planta0
Regra o vetor planta2
Regra o vetor planta4

In [17]:

for i in range(3,6,1):
 regar_batata = str(i)
 print("Regar a planta" + regar_batata)

Regar a planta3
Regar a planta4
Regar a planta5

In [15]:

i=3
while(i < 6):
  regar_batata = str(i)
  print("Regar a planta" + regar_batata)
  i = i+1

Regra a planta3
Regra a planta4
Regra a planta5

In [26]:
for i in range(6):
  regar_planta = str(i)
  if(i == 2) or (i == 3):
    continue
  print("Reguar a planta " + regar_planta)

Reguar a planta 0
Reguar a planta 1
Reguar a planta 4
Reguar a planta 5

In [33]:
for i in range(5,-1,-1):
 regar_planta =str(i)
 print("Regar a planta" + regar_planta)

Regar a planta5
Regar a planta4
Regar a planta3
Regar a planta2
Regar a planta1
Regar a planta0

In [32]:
i=5
while(i >= 0):
  regar_tomate = str(i)
  print("Regra o vetor planta" + regar_tomate)
  i = i -1

Regra o vetor planta5
Regra o vetor planta4
Regra o vetor planta3
Regra o vetor planta2
Regra o vetor planta1
Regra o vetor planta0

In [37]:
def escrever_multiplicacao(num1, num2):
  resultado = str(num1 * num2)
  frase = str(num1) + "x" + str(num2) + "=" + resultado
  return frase
print(escrever_multiplicacao(10,5))

10x5=50

In [40]:
for i in range(1, 11):
    frase_atual = escrever_multiplicacao(8, i)
    print(frase_atual)

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

In [52]:
def tabuada(numero):
    i = 1
    while i <= 10:
        resultado = numero * i
        print(f"{numero} x {i} = {resultado}")
        i += 1

# Exemplo de uso
numero = int(input("Digite um número para ver a sua tabuada: "))
tabuada(numero)

Digite um número para ver a sua tabuada: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60